* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
html {
  font-size: 62.5%;
}
.content {
  margin: auto;
}
.copy-button {
  width: 110px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  background: black;
}
.default-text {
  position: absolute;
  font-size: 18px;
  inset: 0;
  display: grid;
  place-content: center;
  background-color: cornflowerblue;
  transform-origin: bottom;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  border-radius: 4px;
  transition: all .5s ease-in-out;
  color: white;
}
.folder {
  width: 45px;
  height: 35px;
  background-color: #f79b00;
  position: absolute;
  border-radius: 0 4px 4px 4px;
  inset: 55% 0 0 50%;
  transform: translate(-50%, -50%) rotateX(90deg);
  transition: all 1s ease;
}
.folder-back {
  position: absolute;
  content: "";
  width: 25px;
  height: 5px;
  background-color: inherit;
  bottom: 99%;
  left: 0;
  border-radius: 4px 0 0 0;
  z-index: -1;
}
.folder-front {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #f7c427;
  z-index: 1;
  border-radius: 4px;
  transform-origin: bottom;
  transition: all .8s ease;
}
.paper {
  position: absolute;
  background-color: white;
  width: 75%;
  height: 75%;
  inset: 50%;
  transform: translate(-50%, -60px);
  border-radius: 1px;
  opacity: 0;
  transition: transform 1.5s ease-in-out,opacity .5s ease;
}
.folder-open {
  transform: rotateX(40deg) skew(-4deg);
}
.paper-move{
  transform: translate(-50%, -50%);
  opacity: 1;
}
